@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-sans: "Inter";
    --font-color-primary: #111;
    --nav-height: 64px;
    --background-color-main: #d8d8d8;
    --background-color-secondary: #f5f5f5
}

img, svg, video {
    display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

body {
    font-family: var(--font-sans), sans-serif;
}

header {
    outline: 1px solid red;
    height: var(--nav-height);
    background-color: var(--background-color-secondary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

header a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--font-color-primary);
}

header nav {
    outline: 1px solid black; /*  */
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a, .nav-logo {
    outline: 1px solid blue;
}

header .left-nav .nav-logo img{
    outline: 1px solid blue;
    width: 32px;
}

header .left-nav {
    outline: 1px solid red;
    display: flex;
    padding-left: 24px;
    align-items: center;
}

header .left-nav .head-left{
    font-weight: 600;
}

header .left-nav .head-right{
    color: #808080;
}

header .right-nav {
    outline: 1px solid red;
    display: flex;
    padding-right: 24px;
    gap: 16px;
    align-items: center;
}

.hero {
    outline: 1px solid red;
    background-color: var(--background-color-main);
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero .left-hero {
    outline: 1px solid red;
    width: 60%;
    padding: 32px 12px 32px 24px;
}

.hero .right-hero {
    outline: 1px solid blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero .right-hero h1, p, button{
    outline: 1px solid orange;
}

.hero .right-hero h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.hero .right-hero p {
    font-size: 2rem;
    font-weight: 600;
}

.text-hero {
    outline: 1px solid red;
    margin-left: 12px;
}

.hero .right-hero button {
    width: 100%;
    padding: 8px;
    background-color: var(--font-color-primary);
    color: var(--background-color-main);
    font-size: 1.5rem;
    cursor: pointer;
}

.hero .right-hero .text1 {
    margin: 24px 0 24px 0;
}

.information {
    outline: 1px solid green;
    background-color: var(--background-color-secondary);
    display: flex;
    justify-content: center;
    width: 100%;
}

.information .left-info {
    outline: 1px solid blue;
    width: 60%;
    padding: 32px 12px 32px 24px;
}

.img-holder2 {
    outline: 1px solid purple;
}

.information .left-info #text2h2{
    outline: 1px solid aqua;
    margin-bottom: 24px;
    font-size: 3.5rem;
}

.information .left-info #text2p1{
    outline: 1px solid aqua;
    margin-bottom: 24px;
    font-size: 1.25rem;
}

.information .left-info #text2p2{
    outline: 1px solid aqua;
    margin-bottom: 32px;
    font-size: 1.25rem;
}

.information .right-info {
    outline: 1px solid red;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.information .right-info .info-Box1, .info-Box2, .info-Box3 {
    outline: 1px solid blue;
    margin-top: 32px;
}

.information .right-info .info-Box1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .info-Box1-left {
        width: 35%;
        aspect-ratio: 1/1;
        padding: 16px;
    }
    .info-Box1-right {
        width: 65%;
        margin-left: 24px;
    }
    .info-Box1-right h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .info-Box1-right p {
        font-size: 1.25rem;
        margin-bottom: 8px;
    }
    .info-Box1-right a {
        text-decoration: none;
    }
}

.information .right-info .info-Box1:hover {
    background-color: var(--background-color-main);
}

.information .right-info .info-Box2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .info-Box2-left {
        width: 35%;
        aspect-ratio: 1/1;
        padding: 16px;
    }
    .info-Box2-right {
        width: 65%;
        margin-left: 24px;
    }
    .info-Box2-right h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .info-Box2-right p {
        font-size: 1.25rem;
        margin-bottom: 8px;
    }
    .info-Box2-right a {
        text-decoration: none;
    }
}

.information .right-info .info-Box2:hover {
    background-color: var(--background-color-main);
}

.information .right-info .info-Box3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .info-Box3-left {
        width: 35%;
        aspect-ratio: 1/1;
        padding: 16px;
    }
    .info-Box3-right {
        width: 65%;
        margin-left: 24px;
    }
    .info-Box3-right h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .info-Box3-right p {
        font-size: 1.25rem;
        margin-bottom: 8px;
    }
    .info-Box3-right a {
        text-decoration: none;
    }
}

.information .right-info .info-Box3:hover {
    background-color: var(--background-color-main);
}

.course {
    outline: 1px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-main);
    width: 100%;
}

.course .top-course {
    outline: 1px solid blue;
    margin: 32px 0 32px 0;
    font-size: 2rem;
}

.course .bottom-course {
    outline: 1px solid red;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 72px 32px 72px;
    /* gap: 32px; */

    .card-1 {
        outline: 1px solid blue;
        width: 100%;
        background-color: var(--background-color-secondary);
    }

    .card-1:hover {
        cursor: pointer;
    }

    .card-1 .img-holder6 {
        outline: 1px solid green;
        margin-bottom: 16px;
    }

    .card-1 .img-holder6 img {
        width: 100%;
    }

    .card-1 h3 {
        outline: 1px solid orange;
        margin: 0 0 0 16px;
        font-size: 1.5rem;
    }

    .card-1 p:first-of-type {
        margin: 8px 0 8px 16px;
        font-size: 1.25rem;
    }

    .card-1 p:last-of-type {
        margin: 0 0 24px 16px;
        font-size: 1.25rem;
    }

    .card-2 {
        outline: 1px solid blue;
        width: 100%;
        background-color: var(--background-color-secondary);
    }

    .card-2:hover {
        cursor: pointer;
    }

    .card-2 .img-holder7 {
        outline: 1px solid green;
        margin-bottom: 16px;
    }

    .card-2 .img-holder7 img {
        width: 100%;
    }

    .card-2 h3 {
        outline: 1px solid orange;
        margin: 0 0 0 16px;
        font-size: 1.5rem;
    }

    .card-2 p:first-of-type {
        margin: 8px 0 8px 16px;
        font-size: 1.25rem;
    }

    .card-2 p:last-of-type {
        margin: 0 0 24px 16px;
        font-size: 1.25rem;
    }

    .card-3 {
        outline: 1px solid blue;
        width: 100%;
        background-color: var(--background-color-secondary);
    }

    .card-3:hover {
        cursor: pointer;
    }

    .card-3 .img-holder8 {
        outline: 1px solid green;
        margin-bottom: 16px;
    }

    .card-3 .img-holder8 img {
        width: 100%;
    }

    .card-3 h3 {
        outline: 1px solid orange;
        margin: 0 0 0 16px;
        font-size: 1.5rem;
    }

    .card-3 p:first-of-type {
        margin: 8px 0 8px 16px;
        font-size: 1.25rem;
    }

    .card-3 p:last-of-type {
        margin: 0 0 24px 16px;
        font-size: 1.25rem;
    }

    .card-4 {
        outline: 1px solid blue;
        width: 100%;
        background-color: var(--background-color-secondary);
    }

    .card-4:hover {
        cursor: pointer;
    }

    .card-4 .img-holder9 {
        outline: 1px solid green;
        margin-bottom: 16px;
    }

    .card-4 .img-holder9 img {
        width: 100%;
    }

    .card-4 h3 {
        outline: 1px solid orange;
        margin: 0 0 0 16px;
        font-size: 1.5rem;
    }

    .card-4 p:first-of-type {
        margin: 8px 0 8px 16px;
        font-size: 1.25rem;
    }

    .card-4 p:last-of-type {
        margin: 0 0 24px 16px;
        font-size: 1.25rem;
    }

    .card-5 {
        outline: 1px solid blue;
        width: 100%;
        background-color: var(--background-color-secondary);
    }

    .card-5:hover {
        cursor: pointer;
    }

    .card-5 .img-holder10 {
        outline: 1px solid green;
        margin-bottom: 16px;
    }

    .card-5 .img-holder10 img {
        width: 100%;
    }

    .card-5 h3 {
        outline: 1px solid orange;
        margin: 0 0 0 16px;
        font-size: 1.5rem;
    }

    .card-5 p:first-of-type {
        margin: 8px 0 8px 16px;
        font-size: 1.25rem;
    }

    .card-5 p:last-of-type {
        margin: 0 0 24px 16px;
        font-size: 1.25rem;
    }

    .card-6 {
        outline: 1px solid blue;
        width: 100%;
        background-color: var(--background-color-secondary);
    }

    .card-6:hover {
        cursor: pointer;
    }

    .card-6 .img-holder11 {
        outline: 1px solid green;
        margin-bottom: 16px;
    }

    .card-6 .img-holder11 img {
        width: 100%;
    }

    .card-6 h3 {
        outline: 1px solid orange;
        margin: 0 0 0 16px;
        font-size: 1.5rem;
    }

    .card-6 p:first-of-type {
        margin: 8px 0 8px 16px;
        font-size: 1.25rem;
    }

    .card-6 p:last-of-type {
        margin: 0 0 24px 16px;
        font-size: 1.25rem;
    }
}