@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-sans: "Inter";
    --font-color-primary: #111;
    --nav-height: 64px;
    --background-color-main: #d8d8d8;
    --background-color-secondary: #f5f5f5
}

img, svg, video {
    display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

body {
    font-family: var(--font-sans), sans-serif;
}

header {
    outline: 1px solid red;
    height: var(--nav-height);
    background-color: var(--background-color-secondary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

header a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--font-color-primary);
}

header nav {
    outline: 1px solid black; /*  */
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a, .nav-logo {
    outline: 1px solid blue;
}

header .left-nav .nav-logo img{
    outline: 1px solid blue;
    width: 32px;
}

header .left-nav {
    outline: 1px solid red;
    display: flex;
    padding-left: 24px;
    align-items: center;
}

header .left-nav .head-left{
    font-weight: 600;
}

header .left-nav .head-right{
    color: #808080;
}

header .right-nav {
    outline: 1px solid red;
    display: flex;
    padding-right: 24px;
    gap: 16px;
    align-items: center;
}

.hero {
    outline: 1px solid red;
    background-color: var(--background-color-main);
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero .left-hero {
    outline: 1px solid red;
    width: 60%;
    padding: 32px 12px 32px 24px;
}

.hero .right-hero {
    outline: 1px solid blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero .right-hero h1, p, button{
    outline: 1px solid orange;
}

.hero .right-hero h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.hero .right-hero p {
    font-size: 2rem;
    font-weight: 600;
}

.text-hero {
    outline: 1px solid red;
}

.hero .right-hero button {
    width: 100%;
    padding: 8px;
    background-color: var(--font-color-primary);
    color: var(--background-color-main);
    font-size: 1.5rem;
}

.hero .right-hero .text1 {
    margin: 24px 0 24px 0;
    padding-left: 12px;
}

.information {
    outline: 1px solid green;
    background-color: var(--background-color-secondary);
    display: flex;
}